### 변수와 입력

 <------
- x = 10

x라는 변수에 10이라는 값을 할당한다.

### 문자열 데이터는
' '

" "

""" """


안에 들어가 있어야 문자열 데이터가 된다!

In [2]:
adsfsadf

NameError: name 'adsfsadf' is not defined

### 위의 에러를 2가지 방법으로 해결할 수 있다!

In [4]:
type('adsfsadf')

str

In [5]:
'adsfsadf'

'adsfsadf'

In [7]:
### 변수로 만들기
adsfsadf = 10

In [8]:

adsfsadf

10

In [11]:
abc = 'Hi,안녕하세요! 여러분 제발 지각하지 말아주세요!'

In [12]:
abc

'Hi,안녕하세요! 여러분 제발 지각하지 말아주세요!'

In [13]:
abc

'Hi,안녕하세요! 여러분 제발 지각하지 말아주세요!'

In [15]:
abcd = '아직도 접속을 하시네요? 제발 지각하지 말아주세요!'

In [16]:
abcd

'아직도 접속을 하시네요? 제발 지각하지 말아주세요!'

### 변수를 여러 개 한 번에 만들 수 있다!

In [17]:
a = 10

In [18]:
b = 20

In [19]:
c = 30

In [20]:
a

10

In [21]:
b

20

In [22]:
c

30

In [23]:
a, b, c = 1,2,3

In [24]:
print(a)
print(b)
print(c)

1
2
3

In [25]:
a = 55

In [26]:
print(a)
print(b)
print(c)

55
55
55

In [27]:
a == 10 #참 거짓 , a가 10 입니까?

a = 10 #a라는 변수에 10을 대입하세요!

In [28]:
a == 10  #참, 거짓을 판별

True

In [29]:
print(10)# 출력을 하는 함수  이 안에 원하시는 값을 넣으면 다 출력이 된다.

10

### 변수를 만들고 변수끼리 계산도 가능하다!

In [30]:
print(a)
print(b)
print(c)

10
55
55

In [31]:
d = a+b+c

In [32]:
d

120

#### 꼭 값을 적지 않아도,  변수끼리 계산이 가능해서 다양하게 활용할 수 있다!

- 산술 연산 후 할당 연산자 사용하기

In [34]:
a = 10

In [35]:
a + 30

40

In [36]:
a

10

- 실제 a값을 바꾸려면?

In [37]:
a =10

In [38]:
a = a+ 30

In [39]:
a

40

a = a+30과 같이 a에 30을 더한 값을 다시 할당해야 한다!
근데 이걸 계속 한 번에 식으로 만들 수 있다.
변수를 두 번 입력하지 않고 하나의 산술 연산 후 할당 연산자를 이용해서 만들 수 있다

In [53]:
a =10

In [54]:
a +=30 # a와 30을 더한 후 결과를 다시 a에 저장한다

In [55]:
a

40

In [69]:
a = 5

In [70]:
a

5

In [72]:
a =a + 15

In [73]:
a

20

In [67]:
a+15

35

In [68]:
a

20

In [62]:
a = a+15

In [63]:
a

20

In [64]:
a

20

In [65]:
a= 20

In [66]:
a

20

In [78]:
### input()
### 입력 값을 변수에 저장하하기


input()

복습 꼭 해주세요!

'복습 꼭 해주세요!'

In [79]:
new = input()

복습을 꼭 부탁드립니다!

In [81]:
df = input()

115

In [82]:
df

'115'

In [83]:
## 유저에게 두 개의 숫자를 입력받고 그 값의 합산을 구하는 코드를 작성하자!
## 유저가 두 개의 값을 입력하면 두 개의 합을 print 출력해보자!

a=input('첫 번째 숫자를 입력해 주세요!: ')
b=input('두 번째 숫자를 입력해 주세요!: ')

첫 번째 숫자를 입력해 주세요!: 5
두 번째 숫자를 입력해 주세요!: 10

In [84]:
print(a+b)

510

In [85]:
a

'5'

In [86]:
b

'10'

In [87]:
c = 20

In [88]:
c

20

In [89]:
a=int(input('첫 번째 숫자를 입력해 주세요!: '))
b=int(input('두 번째 숫자를 입력해 주세요!: '))

print(a+b)

첫 번째 숫자를 입력해 주세요!: 10
두 번째 숫자를 입력해 주세요!: 5
15

### 입력값을 변수 두 개에 저장하기! 

- 값을 두 개 넣어서 두 개의 변수로 저장하기

split() 문자를 나눠준다! 
split(내가 원하는 기준에 따라 나눠줄 수 있다)

In [102]:
a, b = input('문자열 두 개를 입력해 주세요! ex) 5/10 :').split('')# 공백, 스페이스바를 해줘야 2 개의 변수 들어감

문자열 두 개를 입력해 주세요! ex) 5/10 :5/100

In [103]:
print(a)
print(b)

5
100

In [105]:
### map함수를 이용해서 쉽게 입력값을 변환할 수 있음
a, b = map(int, input('숫자 두 개를 입력하세요:').split())
print(a+b)

숫자 두 개를 입력하세요:5 10
15

## 출력을 알아보기!
- print() 간단하게 값을 출력하는데 여러가지 성질도 있다

- print(값1, 값2, 값3) 여러 개 출력 가능
- print(변수1, 변수2, 변수3) 여러개 출력 가능

In [106]:
print(1,2,3)

1 2 3

In [107]:
print(a,b,c)

5 10 20


- sep로 값 사이에 문자를 넣을 수 있다

- print(값1,값2, sep='문자 또는 문자열')
- print(변수1,변수2, sep='문자 또는 문자열')

In [108]:
print(1,2,3)

1 2 3

In [109]:
print(1,2,3, sep=',')

1,2,3

In [110]:
print(1,2,3, sep=', ')

1, 2, 3

In [112]:
print(1,2,3, sep='$')

1$2$3

#### 줄바꿈

1,2,3

1

2

3

In [114]:
print(1,2,3, sep='\n') #줄바꿈 의미

1
2
3

In [116]:
print('hi','b','c', sep='\n') #줄바꿈 의미

hi
b
c

In [117]:
print('1\n2\n3\n')

1
2
3

#### end 사용하기
값들이 붙여서 나오는 경우가 있어서 
end 빈 문자열을 통해서 다음번 출력이 바로 뒤에 올 수 있게끔 한다.

-print(값, end='문자 또는 문자열')

-print(변수, end='문자 또는 문자열')

In [118]:
print(1)
print(2)
print(3)

1
2
3

In [119]:
print(1, end='')
print(2, end='')
print(3)

123

In [121]:
print(1, end=',')
print(2, end=',')
print(3)

1,2,3

In [122]:
print(1,2,3, sep='')

123

### 불과 비교, 논리 연산자

In [126]:
### 파이썬에서는 참과 거짓이라는 값이 있다.
print(1)
print(1.0)
print('abc')
### 참과(True) 거짓 (False) 
True

1
1.0
abc

True

In [127]:
False

False

- 참과 거짓이라는 값을 불린 값을 말함/

In [128]:
3>1

True

In [130]:
1>3

False

In [131]:
22>15

True

In [132]:

15>22

False

In [133]:
10 == 10

True

In [134]:
10 != 10

False

In [135]:
10 !=5

True

In [136]:
##문자열로 불린값 접근

'python' == 'python'

True

In [137]:
'python' == 'Python'

False

In [138]:
'python' != 'Python'

True

In [139]:
1 <44

True

In [141]:
111 <= 2

False

###  

==
- 값에 대한 비교 !

is 

- 객체, 변수에 대한 비교고 메모리할당으로 인해 두 개는 다르다고 나온다

In [142]:
1 == 1.0 #값으로만 보고

True

In [143]:
1 is 1.0 #자료형으로 생각하면 Int float 다르다!

False

In [144]:
1 is not 1.0

True

### 논리연산자!


and ,or not 

-and  
- a and b
- 둘 다 참이어야 참이 나오고 하나라도 참이 나오지 않으면 거짓이다!

In [146]:
True and True

True

In [147]:
True and False

False

In [148]:
False and True

False

In [149]:
False and False

False

a or b


True or True

or는 하나라도 참이면 참이 나온다.

In [150]:
True or True

True

In [151]:
True or False

True

In [152]:
False or True

True

In [153]:
False or False

False

### 과제는 초반에 복습
- 복습을 하지 않으면 안 된다!
- 꼭 복습