In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
# ì²˜ìŒ ë³´ìƒê°’ ì…ë ¥ì„ ìœ„í•œ ê°’ ì„¤ì •
rewards = np.array([
    [-1, -1, -1, -1, 0, -1],
    [-1, -1, -1, 0, -1, 100],
    [-1, -1, -1, 0, -1, -1],
    [-1, 0, 0 , -1, 0, -1],
    [0, -1, -1, 0, -1, 100],
    [-1, 0, -1, -1, 0, 100]
])

In [3]:
# ë³´ìƒê°’ ë©”íŠ¸ë¦­ìŠ¤
pd.DataFrame(rewards)

   0  1  2  3  4    5
0 -1 -1 -1 -1  0   -1
1 -1 -1 -1  0 -1  100
2 -1 -1 -1  0 -1   -1
3 -1  0  0 -1  0   -1
4  0 -1 -1  0 -1  100
5 -1  0 -1 -1  0  100

In [4]:
# Qê°’ ë©”íŠ¸ë¦­ìŠ¤
q_matrix = np.zeros((6, 6))
pd.DataFrame(q_matrix)

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [5]:
# Qê°’ ë©”íŠ¸ë¦­ìŠ¤
q_matrix = np.zeros((6, 6))
pd.DataFrame(q_matrix)

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [25]:
def set_initial_state(rooms = 6): #ì´ˆê¸°ìƒíƒœì˜ ë£¸ ì„¤ì •
    return np.random.randint(0, rooms)


def get_action(current_state, reward_matrix): #ìƒíƒœì§€ì •í›„ ê°€ëŠ¥í•œ  Action ì„ íƒ
    valid_actions = []
    for action in enumerate(reward_matrix[current_state]):
        if action[1] != -1:
            valid_actions += [action[0]]
    return random.choice(valid_actions)

    
def take_action(current_state, reward_matrix, gamma, verbose = False): #í•˜ë‚˜ì˜ ì‘ì—… ìˆ˜í–‰
    action = get_action(current_state, reward_matrix)
    sa_reward = reward_matrix[current_state, action] # í˜„ì¬ ìƒíƒœ-í–‰ë™ ë³´ìƒê°’
    ns_reward = max(q_matrix[action,]) # ë‹¤ìŒ ìƒíƒœ-í–‰ë™ ë³´ìƒê°’
    q_current_state = sa_reward + (gamma * ns_reward)
    q_matrix[current_state, action]  = q_current_state # q-matrixì˜ ë³€ê²½
    new_state = action
    if verbose: 
        print(q_matrix)
        print(f"Old State: {current_state} | New State: {new_state}\n\n")
        if new_state == 5:
              print(f"Agent has reached it's goal!") 
    return new_state
    
def initialize_episode(reward_matrix, initial_state, gamma, verbose = False):
  # ì—ì´ì „íŠ¸ê°€ ëª©í‘œ ìƒíƒœê°€ ë ë•Œê¹Œì§€ ì‹œë®¬ë ˆì´ì…˜ì„ ìˆ˜í–‰
    current_state = initial_state
    while True: # 5ë²ˆë°©ìœ¼ë¡œ ì´ˆê¸°í™” ë˜ë©´ ì•ˆë˜ë¯€ë¡œ 5ë²ˆë°©ì€ ì„ íƒí•˜ì§€ ì•ŠìŒ
        current_state = take_action(current_state, reward_matrix, gamma, verbose)
        if current_state == 5:
            break
        
def train_agent(iterations, reward_matrix, gamma, verbose = False):
  # ì§€ì •ëœ ìˆ˜ì˜ ì—í”¼ì†Œë“œë¥¼ ì‹¤í–‰í•œ í›„ í–‰ë ¬ì„ ì •ê·œí™”
    print("Training in progress..")
    for episode in range(iterations):
        initial_state = set_initial_state()
        initialize_episode(reward_matrix, initial_state, gamma, verbose)
    print("Training complete! ğŸ’¯ğŸ’¯ğŸ’¯ğŸ’¯")
    return q_matrix
   
def normalize_matrix(q_matrix):
    normalized_q = q_matrix / max(q_matrix[q_matrix.nonzero()]) * 100
    return normalized_q.astype(int)

In [26]:
gamma = 0.1 # í•™ìŠµì†ë„ì˜ ì„¤ì •ì´ë©°, 0~1ì‚¬ì´ì˜ ê°’ì„ ê°€ì§„ë‹¤. 0ì€ ì•„ë¬´ê²ƒë„ í•™ìŠµí•˜ì§€ ì•ŠìŒ, 0.9ëŠ” ì—ì´ì „íŠ¸ê°€ ë§¤ìš° ë¹ ë¥´ê²Œ í•™ìŠµ
initial_state = 2 # 2ë²ˆë°©ì—ì„œ ì‹œì‘
initial_action = get_action(initial_state, rewards)

initialize_episode(rewards, initial_state, gamma, True)

[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0. 400. 256.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 2 | New State: 3


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0. 400.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 2


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0. 400.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 2 | New State: 3


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 1


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 1 | New State: 3


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 4


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [ 40.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 4 | New State: 0


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [ 40.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 0 | New State: 4


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 4 | New State: 0


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 0 | New State: 4


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0.   5.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 4 | New State: 3


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0.   5.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 1


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 150.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0.   5.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 1 | New State: 5


Agent has reached it's goal!

In [27]:
# Test run of full training (training = 2000 iterations)
gamma = 0.8
initial_state = set_initial_state()
initial_action = get_action(initial_state, rewards)

# In DataFrame for display purposes
pd.DataFrame(train_agent(2000, rewards, gamma, False))

Training in progress..
Training complete! ğŸ’¯ğŸ’¯ğŸ’¯ğŸ’¯

       0      1      2      3      4      5
0    0.0    0.0    0.0    0.0  400.0    0.0
1    0.0    0.0    0.0  320.0    0.0  500.0
2    0.0    0.0    0.0  320.0    0.0    0.0
3    0.0  400.0  256.0    0.0  400.0    0.0
4  320.0    0.0    0.0  320.0    0.0  500.0
5    0.0  400.0    0.0    0.0  400.0  500.0

In [28]:
# In DataFrame for Display purposes
pd.DataFrame(normalize_matrix(q_matrix))

    0   1   2   3   4    5
0   0   0   0   0  80    0
1   0   0   0  64   0  100
2   0   0   0  64   0    0
3   0  80  51   0  80    0
4  64   0   0  64   0  100
5   0  80   0   0  80  100