In [8]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def myfunc(self):
        print("hello " + self.name)
        
    
p1 = person("John", 36)

p1.age = 40

print(p1.age)

40

In [12]:
a = 10
a**2

100

In [24]:
age = 35
year = 15
txt = "My {} {}"
print(txt)

My {} {}

In [25]:
print(txt.format(age,year))

My 35 15

In [27]:
b = "a,b,c,d"
b.split()

['a,b,c,d']

In [62]:
b = [1, 2, 3]
b.pop()
b

[1, 2]

In [34]:
t4 = (1, 2, (3,4), ('Life', 'is'))

In [35]:
t4[0]

1

In [40]:
t4[2][1]

4

In [41]:
t1 = (1,)
t2 =(1,2,3)
t1 + t2

(1, 1, 2, 3)

In [44]:
x = ("apple", "banana")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi')

In [45]:
fruits = ("apple")
green, yellow, *red) = fruits

SyntaxError: unmatched ')' (3571267441.py, line 2)

In [53]:
dic = {'name':'Hong'}
dic[1] = 'a'
dic.items()

dict_items([('name', 'Hong'), (1, 'a')])

In [54]:
for key, value in dic.items():
    print(f"{key}: {value}")

name: Hong
1: a

In [55]:
dic['name'] = 'kim'
dic

{'name': 'kim', 1: 'a'}

In [57]:
dic1

{'name': 'kim', 1: 'a'}

In [59]:
dic1 = dic
dic1

{'name': 'kim', 1: 'a'}

In [60]:
k = ('key1', 'key2')
dic1 = dict.fromkeys(k,0)
dic1

{'key1': 0, 'key2': 0}

In [63]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [65]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [66]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [70]:
def sum2(*args):
    x = 0
    for i in args:
        x += i
        return x
    
sum2(1,2,3,4,5)

1

In [71]:
abs(-3.5)

3.5

In [72]:
all([4,-2,0.0,4])

False

In [73]:
all([1,2,3,4])

True

In [75]:
any([-2,-3,-4])

True

In [76]:
chr(97)

'a'

In [77]:
ord('a')

97

In [78]:
dir([1,2,3])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [80]:
dir({'1':'a'})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [81]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [82]:
dir()

['In',
 'Out',
 '_',
 '_12',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_32',
 '_33',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_47',
 '_49',
 '_50',
 '_51',
 '_52',
 '_53',
 '_55',
 '_57',
 '_58',
 '_59',
 '_60',
 '_61',
 '_62',
 '_68',
 '_69',
 '_7',
 '_70',
 '_71',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_78',
 '_80',
 '_81',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'age',
 'b',
 'dic',
 'dic1',
 'exit',
 'get_ipython',
 'k',
 'key',
 'p1',
 'person',
 'quit',
 'sum2',
 't1',
 't2',
 't4',
 'txt',
 'value',
 'x',
 'y',
 'year']

In [83]:
a = 3
id(a)

2211574147440

In [84]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [85]:
len('python')

6

In [86]:
list(range(5,10,2))

[5, 7, 9]

In [90]:
sorted('Python', reverse = 'True')

TypeError: an integer is required (got type str)

In [91]:
sorted([3,0,2,1])

[0, 1, 2, 3]

In [92]:
import numpy as np
np.__version__

'1.21.5'

In [93]:
ar4 = np.array([1,2,3,4,5,6]).reshape(3,2)

In [94]:
ar4

array([[1, 2],
       [3, 4],
       [5, 6]])

In [95]:
ar4.shape

(3, 2)

In [96]:
ar4.dtype

dtype('int32')

In [97]:
ar4.ndim

2

In [98]:
ar5 = np.zeros(10)

In [99]:
ar5

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [104]:
import pandas as pd
pd.__version__

data2 = ['1반', '2반']
sr2 = pd.Series(data2)
sr2

0    1반
1    2반
dtype: object

In [107]:
data = [['20201103', 'Hong', '90', '95'], ['20201102', 'Kim', '93', '94'], ['20201103', 'Lee', '87', '97']]
df3 = pd.DataFrame(data)
df3

          0     1   2   3
0  20201103  Hong  90  95
1  20201102   Kim  93  94
2  20201103   Lee  87  97

In [108]:
df3.columns = ['학번', '이름', '중간고사', '기말고사']
df3

         학번    이름 중간고사 기말고사
0  20201103  Hong   90   95
1  20201102   Kim   93   94
2  20201103   Lee   87   97

In [109]:
df3.head(2)

         학번    이름 중간고사 기말고사
0  20201103  Hong   90   95
1  20201102   Kim   93   94

In [110]:
df3.tail(2)

         학번   이름 중간고사 기말고사
1  20201102  Kim   93   94
2  20201103  Lee   87   97

In [111]:
df3['이름']

0    Hong
1     Kim
2     Lee
Name: 이름, dtype: object