### 특정 문자 범위에 포함되지 않는지 판단하기

- 특정 문자 범위에 포함되지 않는지 판단하기
- [^범위]*
- [^범위]+

In [9]:
import re

In [10]:
re.match('[^a-zA-Z]+', 'Python')

In [11]:
re.match('[a-zA-Z]+','123123')

- 특수문자
- \특수문자 (원하는 특수문자)

In [14]:
re.search('\?+','너 왜 과제를 안해????')

In [16]:
re.search('\!+','너일머ㅣ날어ㅣㅁㄴㄹ!!!!!!!!!!!!!!!')

In [17]:
re.search('\!+','너일머ㅣ날어ㅣㅁㄴㄹ!!!!!!?????!!!!!!!!!')

In [38]:
re.search('[^a-zA-Z0-9가-힣]+','왜 제출을 안해 ?!?!?!?!?!')

- \d[0-9]
- \D[^0-9]
- \w[a-zA-Z0-9_]
- \W[^a-zA-z0-9_]

### 공백처리
- ' ', \s \S 다 가능[찾아보기]
- \s 공백 외에도 탭도 가능
- \S
- 어떤 공백이 있는지 찾아보기

### 필수과제1.
- \s
- \S
- 공백 차이를 간단하게 code와 주석으로 정리해서 작성

In [21]:
re.match('[\w ]+', 'Hello Python')

In [22]:
re.match('[\w\s]+', 'Hello Python')

In [23]:
re.match('[\w\S]+', 'Hello Python')

### 그룹 사용하기

- (정규표현식)(정규표현식)
- group을 이용해서 사용
- 변수.group(number) 값을 가지고 온다

In [31]:
re_m = re.match('([0-9]+) ([가-힣]+)','18 손흥민')

In [32]:
re_m.group(0)

'18 손흥민'

In [33]:
re_m.group(2)

'손흥민'

In [34]:
re_m.group(1)

'18'

In [35]:
re_m.group()

'18 손흥민'

- findall 함수
- 패턴에 매칭된 문자열을 리스트로 반환

- re.findall('패턴', '문자열')

In [36]:
df = re.findall('[a-z]+','a b c d e f 123123 g h i j 123123 k')

In [37]:
df

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

- re.sub('패턴', '바꿀 문자열', '문자열', '바꿀 횟수')
- 문자열 바꾸는 함수

In [39]:
re.sub('a|b', 'Hi', 'a b c d e f')

'Hi Hi c d e f'

In [40]:
re.sub('[0-9]+', 'Hi', '1 2 3 4 5 6')

'Hi Hi Hi Hi Hi Hi'

### 모듈과 패키지

In [41]:
import re #module, package, library를 불러온다.
# 기존에 만들어 놓은 package를 가져온다.

- import module
- import module1, module2

- module : 특정 기능을 만들어 놓은 파일 import re 검색해서 보면 py파일에 만들어진 code가 있다.
- package : 특정 기능과 관련한 여러 module을 묶은 것
- library : python에서 기본으로 설치된 module이 package 내장 함수

- 수학 or 선형대수 관련된 module을 부르고 싶다.

In [42]:
import math

In [43]:
import numpy as np #numpy가 길어서 np로 칭한다

In [44]:
#math가 가지고 있는 다양한 변수, 함수들 호출

math.pi

3.141592653589793

In [45]:
math.sqrt(2.0)

1.4142135623730951

- googling을 통해 해당 module에 대한 다양한 사용법 숙지 가능
- pandas, numpy들도 잘 정리되어 있다. 사이킷런도 동일

In [46]:
from math import pi

In [47]:
math.pi

3.141592653589793

### pandas를 이용해서 DataFrame을 살펴볼 것

In [48]:
import pandas as pd

### mpg = pd.read_csv('mpg.csv')
- 파일이 있을 경우 data를 변환

In [50]:
fr = pd.DataFrame({'과일':['사과','딸기','바나나','키위'],
                   '가격':[100,200,300,400]})

In [51]:
fr

    과일   가격
0   사과  100
1   딸기  200
2  바나나  300
3   키위  400

In [78]:
for i in fr:
    print(i)

과일
가격

In [96]:
for i in fr.과일:
    print(i)
    
for i in fr.가격:
    print(i)

사과
딸기
바나나
키위
100
200
300
400

In [75]:
for i in range(len(fr)):
    print(fr.iloc[i])

과일     사과
가격    100
Name: 0, dtype: object
과일     딸기
가격    200
Name: 1, dtype: object
과일    바나나
가격    300
Name: 2, dtype: object
과일     키위
가격    400
Name: 3, dtype: object

In [76]:
import string

In [77]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

## 필수과제2
- 반복문을 이용해서 spam  data의 text를 전처리 하기
- 모든 값들의 특수문자를 제거하고 전처리
- 해당 data의 빈도 측정
- 해당 text data에 어떤 문자가 가장 많은 빈도를 보이는지 탐색
- go 가장 많았다 - 몇개인지?

- 어떤 data가 가장 많은 분포를 가지고 있는지 확인
- 추가 공부 >>>
- 텍스트 분석 : 빈도, 감성, 텍스트 마이닝 머신러닝, 유사도 분석
- 빈도와 워드클라우드 정도 만들고 싶은 경우 실시