### 불린값과 논리 연산자

- 참 True
- 거짓 False

and, or , not

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
False and True

False

In [4]:
False and False

False

or

In [5]:
True or True

True

In [6]:
True or False

True

In [7]:
False or True

True

In [8]:
False or False

False

In [9]:
not True #반대

False

In [10]:
not False

True

- 연산의 기본적인 순서는 
- 1. not
- 2. and
- 3. or

In [12]:
False or False

False

### 논리 연산자와 비교 연산자를 함께 한 번 사용해 보기!

In [13]:
10 == 10 and 5 !=100

True

In [15]:
10 > 5 or 3 > 10

True

In [16]:
not 10 > 100

True

In [17]:
print(False and True)
print(False and False)

False
False

In [18]:
print(True or True)
print(True or False)

True
True

In [19]:
## 파이썬 문자열은 'abc', 'python' True 불린 값으로 따지면 True 

'abc' and True

True

In [20]:
'abc' and False

False

In [21]:
False and 'abc'

False

In [22]:
0 and 'abc' #0은 거짓

0

In [23]:
True or 'abc'

True

In [24]:
'abc' or True

'abc'

### 문자열 사용하기!

- "" , '' , """ """

In [25]:
abc = '안녕하세요!'

In [26]:
abc

'안녕하세요!'

In [27]:
print(abc)

안녕하세요!

In [28]:
'Python isn't difficult'

SyntaxError: invalid syntax (<ipython-input-28-496843f43497>, line 1)

In [29]:
"He said "Python is difficult""

SyntaxError: invalid syntax (<ipython-input-29-03abc0633b24>, line 1)

In [30]:
''' 'Python isn't difficult' '''

" 'Python isn't difficult' "

In [32]:
""" He said "Python is difficult" """

' He said "Python is difficult" '

### 리스트와 튜플

- 리스트 도라에몽주머니!
- 만능 뭐든 다 들어간다.

In [ ]:
a = 10 
b = 20
c = 30
....
a100=

하나의 변수에 내가 원하는 모든 값을 넣으면 된다!

- 내가 원하는 모든 변수를 넣는 주머니의 이름이 리스트와 튜플

### 리스트 만들기
- 리스트 = [값, 값, 값 ] 

- 리스트는 대괄호 []

In [33]:
a = 10

b = [1,2,3,4,5]

In [34]:
a

10

In [35]:
b

[1, 2, 3, 4, 5]

### 왜 리스트가 도라에몽이냐?

- 파이썬은 문자열, 정수, 실수, 불 등의 다양한 자료형있는데 리스트는 그 모든 자료형을 다 담을 수 있다.

In [36]:
abc = ['hi',11,15.4,True,False,0]

In [37]:
abc

['hi', 11, 15.4, True, False, 0]

### 빈리스트 만들기
- 리스트 =[]
- 리스트 =list()

In [38]:
a = []

In [39]:
a

[]

In [40]:
b = list()

In [41]:
b

[]

### 값을 채워 넣을 때 만약 1부터 100까지의 값을 리스트 안에 넣고 싶다!

In [ ]:
a =[1,2,3,4,5,6,7,8,9,10,11,12...100]

## range를 사용해서 리스트의 안에 값을 넣을 수 있다

- range는 연속된 숫자를 생성할 수 있음 
- range(횟수)

In [42]:
range(100)

range(0, 100)

In [44]:
a = list(range(100))

In [45]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

    #### Python 0부터 시작
    
    - 처음 시작이 0이니깐 끝은 우리가 생각한 것 보다 -1

In [47]:
a = list(range(101))

In [48]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

### 1부터 15까지 값을 리스트에 넣고 싶어!
- range를 사용해서

In [55]:
a =list(range(16))

In [56]:
len(a)#전체a수

16

### range 함수 사용법

변수 = list(range(시작,끝))

In [58]:
a = list(range(1,16))

In [52]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### 그럼 0,2,4,6,8 이런 짝수만 리스트에 넣고 싶어!

변수 = list(range(시작, 끝, 증가폭))

In [53]:
a= list(range(0,9,2))

In [54]:
a

[0, 2, 4, 6, 8]

- 값부터 시작해서 +로 증가하는 값을 리스트에 넣기!

In [59]:
c = list(range(-5,11,3))

In [60]:
c

[-5, -2, 1, 4, 7, 10]

### 감소

In [63]:
d = list(range(10,0,-2))

In [64]:
d

[10, 8, 6, 4, 2]

### range를 이용해서 복습을 여러 번 해주시면서 
- 코드를 작성하고 주석처리를 통해서 값에 증가폭, 시작과 끝을 이해해 주세요!

### 튜플

- 안에 저장된 요소를 변경, 추가, 삭제할 수 없다. 
- 읽기 버전으로 생각하시면 된다!

- 변수 = (_) 소괄호

- 변수 = (값, 값, 값)
- 변수 = 값, 값, 값

- 튜플은 자료형 모두 가능하나요?
- 튜플로도 리스트처럼 모든 자료형을 넣을 수 있다.

In [65]:
a = 1,2,3,4,5

In [66]:
a

(1, 2, 3, 4, 5)

In [67]:
a = ('hi',1,1.7,True)

In [69]:
a

('hi', 1, 1.7, True)

### 필수 과제
- range를 이용해서 튜플을 만들어 주세요!
- [] 대괄호 -> () 소괄호로 바뀐다고만 생각하시면 된다.

### 튜플을 -> 리스트로
### 리스트를 -> 튜플로

In [70]:
a = [1,2,3] #리스트

In [73]:
a = tuple(a)

In [74]:
a

(1, 2, 3)

In [75]:
b = (4,5,6)

In [76]:
b

(4, 5, 6)

In [78]:
b = list(b)

In [79]:
b

[4, 5, 6]