In [85]:
class Person:
        def __init__(self, name, age):
        self.name = name
        self.age = age
        
p1 = Person("John", 36)

print(p1.name)
print(p1.age)

IndentationError: expected an indented block (2689427517.py, line 3)

In [84]:
>>> a = 123
>>> a = 12.34
>>> a = 1 + 2j
>>> a.real
>>> a.imag
>>> a.conjugate()
>>> abs(a)
>>> a = 0o12
>>> a
>>> a = 0x12A
>>> a

298

In [27]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [38]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(x)

In [64]:
>>> b = true
>>> b

NameError: name 'true' is not defined

In [46]:
print(bool("Hello"))
print(bool(15))

True
True

In [47]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [51]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
ut labore et dolore magna aliqua.

In [55]:
txt = "the best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [57]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [58]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [62]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [65]:
>>> head = "Python"
>>> tail = " is fun"
>>> head + tail

'Python is fun'

In [66]:
>>> head * 2

'PythonPython'

In [67]:
>>> print("="*5)

=====

In [79]:
>>> a = "Now is better than never"

In [75]:
>>> a[0]

'N'

In [76]:
>>> a[4]

'i'

In [77]:
>>> a[-1]

'r'

In [78]:
>>> a[-2]

'e'

In [80]:
b = ","
c = b.join('Abcd')
c

'A,b,c,d'

In [86]:
d = "   Py    "
d.lstrip()

'Py    '

In [92]:
d.rstrip()

'   Py'

In [88]:
d.strip()

'Py'

In [91]:
>>> a = ' Pithon
>>> a[1] = 'y'

SyntaxError: EOL while scanning string literal (1168240927.py, line 1)