##### object : 퀴즈 문제 풀이
##### Author : 문범수
##### date : 2022.3.13

1.계산기 함수 만들기

값 입력 5,20
출력
덧셈 25, 뺄셈 -15, 곱셈 100, 나눗셈 0.25, 평균 12.5

In [10]:
x = int(input())
y = int(input())

print('덧셈 : ',x+y ,' 뺄셈 : ', x-y ,' 곱셈 : ', x*y , ' 나눗셈 : ', x/y , ' 평균 : ', (x+y)/2 )

 5
 20

덧셈 :  25  뺄셈 :  -15  곱셈 :  100  나눗셈 :  0.25  평균 :  12.5

2. 음식점 테이블에 여러 명이 나누어 안증려고 한다.
이때 한 사람만 앉는 테이블이 없게 그룹을 지어야 한다. 
인원 수를 나누는 패턴만 구하면 되며, 누가 어디에 앉는지는 상관 안해도 된다. 
예를 들어 6명인 경우는 
2+2+2 2+4, 3+3, 6 
한 테이블에 앉을 수 있는 최대의 사람은 10명 
100명의 사람이 하나 이상의 테이블에 나누어 앉은 패턴은 ?
함수를 이용해 문제 풀기

In [18]:
x = 100
y = 2

number ={}

def table(total,min):
    sit = str([total, min]) #남은 사람, 앉은 사람을 묶어 문자열에 저장
    
    if sit in number:
        return number[sit]
    
    if total < 0:    #total이 다 소모된 경우
        return 0
    if total == 0:   #total이 마침내 끝나 다 않은경우 1
        return 1
    
    count = 0
    
    for i in range(min, 11):
        count = count + table(total - i, i) #재귀함수
    
    number[sit] = count
    
    return count

print(table(x,y))
print(number['[100,2]'])

437420

KeyError: '[100,2]'