#### Author : 문범수
#### date : 2023-11-05
#### title : 1105 과제

### 필수과제2
- 샘플로 드린 날씨데이터를 직접 Melt 함수를 이용해서 깔끔하게 정리해 주세요!
- 꼭 melt가 아니어도 다른 함수를 가능합니다.
- 깔끔하게 정리된 데이터로 print()로 보여주시면 됩니다.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df_weather = pd.read_csv('weather.csv')
df_weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_clean_weather

          id  year  month element  day  temperature
20   MX17004  2010     12    tmax   d1         29.9
21   MX17004  2010     12    tmin   d1         13.8
24   MX17004  2010      2    tmax   d2         27.3
25   MX17004  2010      2    tmin   d2         14.4
40   MX17004  2010     11    tmax   d2         31.3
..       ...   ...    ...     ...  ...          ...
631  MX17004  2010      8    tmin  d29         15.3
638  MX17004  2010      1    tmax  d30         27.8
639  MX17004  2010      1    tmin  d30         14.5
674  MX17004  2010      8    tmax  d31         25.4
675  MX17004  2010      8    tmin  d31         15.4

[66 rows x 6 columns]

In [10]:
df_clean_weather = pd.melt(df_weather, id_vars = ['id', 'year', 'month', 'element'], var_name = 'day', value_name = 'temperature')
df_clean_weather = df_clean_weather[df_clean_weather['temperature'] > 0]
print(df_clean_weather)

          id  year  month element  day  temperature
20   MX17004  2010     12    tmax   d1         29.9
21   MX17004  2010     12    tmin   d1         13.8
24   MX17004  2010      2    tmax   d2         27.3
25   MX17004  2010      2    tmin   d2         14.4
40   MX17004  2010     11    tmax   d2         31.3
..       ...   ...    ...     ...  ...          ...
631  MX17004  2010      8    tmin  d29         15.3
638  MX17004  2010      1    tmax  d30         27.8
639  MX17004  2010      1    tmin  d30         14.5
674  MX17004  2010      8    tmax  d31         25.4
675  MX17004  2010      8    tmin  d31         15.4

[66 rows x 6 columns]