##### Author : 문범수
##### date : 2024-03-10
##### title : 03/10 필수과제4

### 필수과제4 - base mse 보다 값을 낮추는 것 목표!
- 피처를 추가했을 때 더 낮아지는 확인( weekday ) 
- 본인이 직접 파생변수를 만들고 싶다면 가능합니다. 
- 요일이나 시간적인 부분에 파생변수를 추가로 만들고 싶다? 있으면 언제든 만들어서 테스트해도 된다!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train=pd.read_csv('trainby.csv')
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [3]:
from datetime import datetime
import calendar

In [4]:
train['date']=train['datetime'].apply(lambda x: x.split()[0])

train['year']=train['datetime'].apply(lambda x: x.split()[0].split('-')[0])
train['month']=train['datetime'].apply(lambda x: x.split()[0].split('-')[1])
train['day']=train['datetime'].apply(lambda x: x.split()[0].split('-')[2])

train['hour']=train['datetime'].apply(lambda x: x.split()[1].split(':')[0])
train['minute']=train['datetime'].apply(lambda x: x.split()[1].split(':')[1])
train['second']=train['datetime'].apply(lambda x: x.split()[1].split(':')[2])

In [5]:
train['count_log']=np.log(train['count'])

In [6]:
train_fit_X=train[['season','holiday','workingday','weather','temp','atemp','humidity','month','hour']]

In [7]:
train_fit_Y=train['count_log']

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [9]:
X_train, X_test, y_train, y_test=train_test_split(train_fit_X, train_fit_Y, test_size=0.3, random_state=111)

In [10]:
model=LinearRegression()

In [11]:
model.fit(X_train, y_train)

LinearRegression()

In [12]:
pred_train=model.predict(X_train)
pred_test=model.predict(X_test)

In [13]:
mse_train=mean_squared_error(y_true=y_train, y_pred=pred_train)
mse_test=mean_squared_error(y_true=y_test, y_pred=pred_test)

In [14]:
print(mse_train)
print(mse_test)

1.1923890013208638
1.214116242001782

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
scaler=MinMaxScaler()
scaler.fit(train_fit_X)

train_fit_X_mm=scaler.transform(train_fit_X)
train_fit_X_mm=pd.DataFrame(data=train_fit_X_mm, columns=train_fit_X.columns)

train_fit_X_mm

,season,holiday,workingday,weather,temp,atemp,humidity,month,hour
0,0.0,0.0,0.0,0.0,0.224490,0.305068,0.81,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.204082,0.288064,0.80,0.0,0.043478
2,0.0,0.0,0.0,0.0,0.204082,0.288064,0.80,0.0,0.086957
3,0.0,0.0,0.0,0.0,0.224490,0.305068,0.75,0.0,0.130435
4,0.0,0.0,0.0,0.0,0.224490,0.305068,0.75,0.0,0.173913
...,...,...,...,...,...,...,...,...,...
10881,1.0,0.0,1.0,0.0,0.367347,0.423649,0.50,1.0,0.826087
10882,1.0,0.0,1.0,0.0,0.346939,0.372860,0.57,1.0,0.869565
10883,1.0,0.0,1.0,0.0,0.326531,0.338964,0.61,1.0,0.913043
10884,1.0,0.0,1.0,0.0,0.326531,0.372860,0.61,1.0,0.956522
10885,1.0,0.0,1.0,0.0,0.306122,0.355856,0.66,1.0,1.000000

In [18]:
X_train, X_test, y_train, y_test=train_test_split(train_fit_X_mm, train_fit_Y, test_size=0.3, random_state=111)

In [19]:
model=LinearRegression()

In [20]:
model.fit(X_train, y_train)

LinearRegression()

In [21]:
pred_train=model.predict(X_train)
pred_test=model.predict(X_test)

In [22]:
mse_train=mean_squared_error(y_true=y_train, y_pred=pred_train)
mse_test=mean_squared_error(y_true=y_test, y_pred=pred_test)

In [23]:
print(mse_train)
print(mse_test)

1.192389001320864
1.214116242001782